<div>
<%content_for :title, "Home Page" %>
  <h1 class="font-bold text-4xl text-blue-500">TrackMyJobApps</h1>
  <p>Welcome to TrackMyJobsApps.com where we make it simple to keep track of all your job applications, contacts, and interviews. Let us help you make job searching easier. Feel free to login by creating an account or using our Singin with LinkedIn option.</p>
</div>
