<% content_for :title, "Home" %>
<h1>Welcome to TrackMyJobApps.com</h1>
<p>Where keeping track of your job applications is simple.</p>
<span><i class="fa fa-address-book-o" aria-hidden="true"></i></span>